body{ margin: 0px;
    padding: 0px;

}
#body1{
    background-color: green;
    width: 2500px;
    margin: 0px;
    height: 150px;
    padding: 0px;
    object-fit: cover;
}
#body2{
    background-color: red;
    width: 2500px;
    margin: 0px;
    height: 800px;
    padding: 0px;
    object-fit: cover;

}
#logo{
    width: 125px;
    height: 125px;
    margin: 10px 10px 10px 10px;
    padding-right: 100px;
}
#simage{
    width: 250px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 300px;
}
.top{
    left: 760px;
    position: relative;
    float: left;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}


